<?xml version="1.0"?>
<!--
/**
 * @package    Leytech_ColorAttribute
 * @author     Chris Nolan (chris@leytech.co.uk)
 * @copyright  Copyright (c) 2017 Leytech
 * @license    https://opensource.org/licenses/MIT  The MIT License  (MIT)
 */
-->
<config>
    <modules>
        <Leytech_ColorAttribute>
            <version>1.0.2</version>
        </Leytech_ColorAttribute>
    </modules>
    <global>
        <blocks>
            <leytech_colorattribute>
                <class>Leytech_ColorAttribute_Block</class>
            </leytech_colorattribute>
        </blocks>
        <models>
            <leytech_colorattribute>
                <class>Leytech_ColorAttribute_Model</class>
            </leytech_colorattribute>
        </models>
        <helpers>
            <leytech_colorattribute>
                <class>Leytech_ColorAttribute_Helper</class>
            </leytech_colorattribute>
        </helpers>
        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <leytech_colorattribute>
                        <type>model</type>
                        <class>leytech_colorattribute/observer</class>
                        <method>assignBackendModelToAttribute</method>
                    </leytech_colorattribute>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
        <events>
            <admin_system_config_changed_section_leytech_colorattribute>
                <observers>
                    <leytech_colorattribute>
                        <type>model</type>
                        <class>leytech_colorattribute/observer</class>
                        <method>assignLayoutConfigs</method>
                    </leytech_colorattribute>
                </observers>
            </admin_system_config_changed_section_leytech_colorattribute>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_product_attribute_types>
                <observers>
                    <leytech_colorattribute>
                        <type>model</type>
                        <class>leytech_colorattribute/observer</class>
                        <method>addColorAttributeType</method>
                    </leytech_colorattribute>
                </observers>
            </adminhtml_product_attribute_types>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <leytech_colorattribute>
                        <class>leytech_colorattribute/observer</class>
                        <method>updateElementTypes</method>
                    </leytech_colorattribute>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
        </events>
        <layout>
            <updates>
                <leytech_colorattribute>
                    <file>leytech/colorattribute.xml</file>
                </leytech_colorattribute>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <leytech_color>leytech_color</leytech_color>
                </input_types>
            </validator_data>
        </general>
        <leytech_colorattribute>
            <settings>
                <enabled>1</enabled>
                <color_picker>jscolor</color_picker>
                <include_jquery>1</include_jquery>
                <spectrum_options><![CDATA[preferredFormat: "rgb",
showAlpha: true,
showInput: true,
showInitial: true,
allowEmpty:true,
showPalette:true,
palette: [
    ["rgba(0,0,0,0.7)","rgba(68,68,68,0.7)","rgba(102,102,102,0.7)","rgba(153,153,153,0.7)","rgba(204,204,204,0.7)","rgba(238,238,238,0.7)","rgba(243,243,243,0.7)","rgba(255,255,255,0.7)"],
    ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
    ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
    ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
    ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
    ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
    ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
    ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
    ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
]
]]></spectrum_options>
            </settings>
            <layouts>
                <is_using_jscolor>1</is_using_jscolor>
                <is_using_spectrum>0</is_using_spectrum>
                <is_using_html5>0</is_using_html5>
                <is_using_jquery>0</is_using_jquery>
            </layouts>
        </leytech_colorattribute>
    </default>
</config>